body {
    margin: 0;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.contact_main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    color: black;
    margin-bottom: 32px;
}

p {
    margin-block-start: 0;
}

.mg_top48 {
    margin-top: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.header_placeholder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 150px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    top: 0;
    right: 0;
    left: 0;
}

.header img {
    height: 75px;
    object-fit: cover;
}

nav {
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: bold;
    gap: 18px;
}

nav a {
    padding-bottom: 8px;
    text-decoration: none;
    color: gray;
    position: relative;
}

nav a:hover {
    color: green;
}

nav a:hover::before {
    content: "";
    position: absolute;
    border-bottom: 4px solid green;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.receipt_otd {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 150px 50px 150px;
}

.receipt_otd img {
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.receipt_otd_description {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    color: gray;
    font-size: 14px;
    text-align: justify;
}

.receipt_btn {
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px;
    width: 225px;
    text-decoration: none;
}

.multiple_receipts_section {
    background-color: #EFEFEF;
    padding: 50px 150px 75px 150px;
    text-align: center;
}

.multiple_receipt_links {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.multiple_receipt_links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 20%;
}

.multiple_receipt_links figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.multiple_receipt_links img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.receipt_trend_section {
    padding: 50px 150px 75px 150px;
}

.receipt_trend_section h2 {
    text-align: center;
}

.receipt_trend_section article {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

.receipt_trend_section img {
    width: 20%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.receipt_trend_section p {
    padding-top: 16px;
    width: 80%;
    margin-right: 36px;
    text-align: justify;
}

footer {
    height: 200px;
    background-color: #403B3B;
}

.receipt_header {
    display: flex;
    flex-direction: column;
    margin: 50px 150px 0 150px;
    gap: 32px;
    padding-bottom: 75px;
    border-bottom: 1px solid rgb(241 237 237);
}

.receipt_header_img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.receipt_info_short {
    display: flex;
    gap: 20px;
}

.receipt_info_short_item {
    display: flex;
    background-color: #EFEFEF;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
}

.receipt_header_icon {
    height: 15px;
    width: 15px;
    object-fit: cover;
}

.receipt_ingredients_section {
    padding: 5px 150px 15px 150px;
    color: #403B3B
}

.receipt_ingredients_section input {
    height: 39px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
    margin-left: 5px;
}

.receipt_ingredients_section input:focus {
    outline: none;
}

.amount_people_ingredients_btn {
    height: 40px !important;
    background-color: green;
    color: white;
    font-size: 16px;
    width: 150px;
    border-radius: 0 !important;
    font-family: 'Raleway';
    margin: 0 !important;
    cursor: pointer;
}

.amount_people_form {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-radius: 10px;
}


td {
    padding: 15px 32px;
    border-radius: 10px;
}

tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 12px;
}

.contact_form input {
    height: 25px;
    padding: 10px 15px;
    font-family: 'Raleway';
    border: 1px solid rgb(206, 201, 201);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact_form input::placeholder {
    font-family: 'Raleway';
}

.contact_form textarea {
    resize: none;
    height: 150px;
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Raleway';
    border: 1px solid rgb(206, 201, 201);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact_form textarea:focus {
    outline: none;

}

.contact_form textarea::placeholder {
    font-family: 'Raleway';
}

.contact_form input:focus {
    outline: none;
}

.contact_subheader {
    margin-top: 20px;
    text-align: center;
    color: gray;
}

.contact_submit_btn {
    height: 50px !important;
    display: flex;
    justify-content: center;
    background-color: green;
    color: white;
    border: none;
    font-size: 14px;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.receipt_description_section {
    padding: 5px 150px 15px 150px;
}

#receipt_instruction {
    margin-top: 30px;
    text-align: justify;
}

.receipt_user_section {
    display: flex;
    font-size: 32px;
    gap: 35px;
    align-items: center;
}

.receipt_user_section img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 1000px;
}

.contact_feedback_main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_feedback_header {
    text-align: center;
}

.main_imprint {
    padding: 10px 100px 10px 100px
}

.small_header_logo {
    display: none;
}

.burger_menu_img {
    height: 25px !important;
    display: none;
}

.menu_overlay {
    display: none;
}

@media (max-width: 1135px) {
    .mg_top48 {
        margin-top: 20px;
    }
}

@media (max-width: 925px) {
    .receipt_otd {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .receipt_otd_description {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }

    .large_header_logo {
        display: none;
    }

    .small_header_logo {
        display: flex;
        height: 40px !important;
        object-fit: cover !important;
    }

    .receipt_otd {
        padding: 50px 100px 25px 100px;
    }

    .multiple_receipts_section {
        padding: 50px 100px 25px 100px !important;
    }

    .multiple_receipt_links img {
        height: 300px;
    }

    .receipt_trend_section {
        padding: 50px 100px 25px 100px !important;
    }

    .receipt_trend_section article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .receipt_trend_section p {
        padding-top: 16px;
        text-align: justify;
        margin-right: 0;
        width: 100%;
    }

    .receipt_trend_section img {
        height: 300px;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px;
    }
}

@media (max-width: 750px) {

    .header {
        padding: 0 50px;
    }

    .header nav {
        display: none;
    }

    .burger_menu_img {
        display: block;
        cursor: pointer;
    }

    .menu_overlay {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: all 200ms ease-in-out;
    }

    nav {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        height: 100vh;
    }

    .open_menu_overlay {
        transform: translateY(0) !important;
    }


    .multiple_receipt_links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    figcaption {
        font-size: 20px;
    }

    .multiple_receipt_links a {
        width: 100%;
    }

    .receipt_header {
        margin: 50px 100px 0 100px;
    }

    .receipt_ingredients_section {
        padding: 5px 100px 15px 100px;
    }

    .receipt_description_section {
        padding: 5px 100px 15px 100px;
    }
}

@media (max-width: 600px) {
    .receipt_info_short {
        flex-direction: column;
    }

    .amount_people_form {
        flex-direction: column;
        gap: 20px;
    }

    .receipt_ingredients_section input {
        height: 39px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding-left: 5px;
        margin-left: 0;
        width: 200px;
    }

    .receipt_header {
        padding-bottom: 25px;
    }

    .contact_form input {
        width: 250px;
    }

    .contact_form textarea {
        width: 264px;
    }

    .contact_form {
    align-items: center;
}

.main_imprint {
    padding: 10px 20px 10px 20px;
}
}

@media (max-width: 500px) {
    .receipt_otd img {
        height: 200px;
    }

    .receipt_otd {
        padding: 50px 50px 25px 50px;
    }

    .multiple_receipts_section {
        padding: 50px 50px 25px 50px !important;
    }

    .receipt_trend_section {
        padding: 50px 50px 25px 50px !important;
    }

    .receipt_header {
        margin: 50px 50px 0 50px;
    }

    .receipt_ingredients_section {
        padding: 5px 50px 15px 50px;
    }

    .receipt_description_section {
        padding: 5px 50px 15px 50px;
    }

    .receipt_user_section {
        flex-direction: column;
    }
}